<a href="https://colab.research.google.com/github/minamky/datasci112-college-acceptance-rate-predictor/blob/main/Data_Collection_and_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Collection and Cleaning

In [1]:
import pandas as pd
import numpy as np
import requests
import time

## Data Collection #1: College ScoreCard API

We collected data from the College ScoreCard API from  collegescorecard.ed.gov, which contains the  of every accredited institution in the United States up until 2020-21 including institutional characteristics, enrollment, student aid, costs, and student outcomes. Currently, there is a trend where more schools are withholding reporting acceptance rates, making it difficult for students to predict the likelihood of their acceptance.

I used the API to collect data from schools that are predominately undergraduate institutions and  features that could affect their respective acceptance rate. Then, I compile all the data into a dataframe.

In [2]:
url = "http://api.data.gov/ed/collegescorecard/"
endpoint = "/v1/schools.json?"
key = "&api_key=E6N4LAbk4nqo98cet3IViOYcZz8KUxYQn2pXsNdO"

#only include schools that are predominately undergraduate 
params = "school.degrees_awarded.predominant=3"
#school, root, and location are static so don't need year

fields = [
    "id",
    "school.name",
    "school.city",
    "school.state",
    "school.zip",
    "school.accreditor",
    "school.state_fips",
    "location.lat",
    "location.lon",
    "latest.school.degrees_awarded.predominant",
    "latest.cost.net_price.public.by_income_level.48001-75000",
    "latest.cost.net_price.private.by_income_level.48001-75000",
    "latest.cost.tuition.in_state",
    "latest.cost.tuition.out_of_state",
    "latest.completion.completion_rate_4yr_150nt",
    "latest.admissions.admission_rate.overall"
]

Because there are over 2500 colleges and there is a max of 100 colleges per page, I will loop through every page and append every college on each page to a list. Then, I will create a dataframe with the colleges in the list.

In [3]:
#loop through all pages and append to list to aggregate all rows into one dataframe
results = []
for i in range (26):
  options = "&per_page=100&page=" + str(i)
  results.extend(requests.get(url + endpoint + params +"&fields=" + ",".join(fields) + options + key).json()["results"])
  time.sleep(0.5)

df_colleges = pd.json_normalize(results)

## Data Cleaning #1: College Demographics DataFrame

I renamed the columns, so they were easier to read and were not as crowded. The API also seperated the net cost for public and private institutions, so I collapsed these two columns into one, so I could use the net cost in machine learning model later. Lastly, I set the index to the Name of each institution, so it is easier to identify.

In [4]:
df_colleges.rename(columns={'latest.school.degrees_awarded.predominant': 'Primarily Undergraduate', 
                            'latest.cost.net_price.public.by_income_level.48001-75000': 'Public: Net Cost',
                            'latest.cost.net_price.private.by_income_level.48001-75000': 'Private: Net Cost',
                            'school.name': 'Name',
                            'school.city': 'City',
                            'school.state': 'State',
                            'school.zip': 'ZIP Code',
                            'school.accreditor': 'Accreditor',
                            'school.state_fips': 'State FIPS',
                            'location.lat': 'Latitude',
                            'location.lon': 'Longitude',
                            'latest.admissions.admission_rate.overall': 'Admission Rate',
                            "latest.cost.tuition.in_state": "In State Tuition",
                            "latest.cost.tuition.out_of_state": "Out of State Tution",
                            "latest.completion.completion_rate_4yr_150nt": "Completion Rate",
                            }, inplace=True)

#public and private net cost are seperated in response, so I will combine these columns by adding them
df_colleges["Public: Net Cost"] = df_colleges["Public: Net Cost"].fillna(0)
df_colleges["Private: Net Cost"] = df_colleges["Private: Net Cost"].fillna(0)
df_colleges["Net Cost"] = df_colleges["Public: Net Cost"] + df_colleges["Private: Net Cost"]
df_colleges = df_colleges.set_index("Name")
df_colleges

,Primarily Undergraduate,Public: Net Cost,Private: Net Cost,In State Tuition,Out of State Tution,Completion Rate,Admission Rate,City,State,ZIP Code,Accreditor,State FIPS,id,Latitude,Longitude,Net Cost
Name,,,,,,,,,,,,,,,,
Alabama A & M University,3,17694.0,0.0,10024.0,18634.0,0.2866,0.8965,Normal,AL,35762,Southern Association of Colleges and Schools C...,1,100654,34.783368,-86.568502,17694.0
University of Alabama at Birmingham,3,17857.0,0.0,8568.0,20400.0,0.6117,0.8060,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,1,100663,33.505697,-86.799345,17857.0
University of Alabama in Huntsville,3,17054.0,0.0,11338.0,23734.0,0.5714,0.7711,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,1,100706,34.724557,-86.640449,17054.0
Alabama State University,3,19853.0,0.0,11068.0,19396.0,0.3177,0.9888,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,1,100724,32.364317,-86.295677,19853.0
The University of Alabama,3,21649.0,0.0,11620.0,31090.0,0.7214,0.8039,Tuscaloosa,AL,35487-0100,Southern Association of Colleges and Schools C...,1,100751,33.211875,-87.545978,21649.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Arizona College of Nursing-Phoenix,3,0.0,0.0,20170.0,20170.0,NaN,0.9091,Phoenix,AZ,85053-4058,Accrediting Bureau of Health Education Schools,4,495457,33.635804,-112.117327,0.0
The Pennsylvania State University,3,26010.0,0.0,18450.0,35514.0,0.7281,0.7827,University Park,PA,16802-1503,Middle States Commission on Higher Education,42,495767,40.796500,-77.862848,26010.0
Pathways College,3,0.0,0.0,6223.0,6223.0,NaN,1.0000,Pasadena,CA,91107,None,6,495916,34.152285,-118.078697,0.0
Provo College-Idaho Falls Campus,3,0.0,0.0,15219.0,15219.0,NaN,NaN,Idaho Falls,ID,83404-3538,Accrediting Bureau of Health Education Schools,16,496283,43.481000,-112.002280,0.0
Eagle Gate College-Boise Campus,3,0.0,0.0,13260.0,13260.0,NaN,NaN,Boise,ID,83709-2505,Accrediting Bureau of Health Education Schools,16,496326,43.590910,-116.298572,0.0

## Data Collection #2: College Testing Statistics

I found a csv file that contains the updated college testing statistics for 4-year institutions in the United States which I will merge with the college demographics dataframe.

In [5]:
from google.colab import drive
drive.mount('/content/gdrive')
df_admissions2 = pd.read_csv("/content/gdrive/MyDrive/Data-Table 1.csv")

Mounted at /content/gdrive

## Data Cleaning #2: College Testing Statistics

The file contained many columns that were unncessary for the machine learning model, so I created a dataframe that only contained the most important columns.

In [6]:
#creating a new dataframe focused on testing information for 4 year universities
df_testing = df_admissions2[["Name", "Percent of freshmen submitting SAT scores", "Percent of freshmen submitting ACT scores", "SAT Critical Reading 75th percentile score", "SAT Math 75th percentile score", "SAT Writing 75th percentile score", "ACT Composite 75th percentile score"]]
df_testing

,Name,Percent of freshmen submitting SAT scores,Percent of freshmen submitting ACT scores,SAT Critical Reading 75th percentile score,SAT Math 75th percentile score,SAT Writing 75th percentile score,ACT Composite 75th percentile score
0,Alabama A & M University,15.0,88.0,450.0,450.0,NaN,19.0
1,University of Alabama at Birmingham,6.0,93.0,640.0,650.0,NaN,28.0
2,Amridge University,NaN,NaN,NaN,NaN,NaN,NaN
3,University of Alabama in Huntsville,34.0,94.0,640.0,650.0,NaN,29.0
4,Alabama State University,18.0,87.0,480.0,480.0,NaN,19.0
...,...,...,...,...,...,...,...
1529,University of South Florida-Sarasota-Manatee,79.0,59.0,580.0,570.0,570.0,25.0
1530,The Kingâ€™s College,57.0,45.0,630.0,600.0,640.0,28.0
1531,Ottawa University-Online,NaN,NaN,NaN,NaN,NaN,NaN
1532,Providence Christian College,NaN,NaN,NaN,NaN,NaN,NaN
1533,Polytechnic University of Puerto Rico-Orlando,NaN,NaN,NaN,NaN,NaN,NaN

## Merging College Demographics DataFrame with College Testing Statistics DataFrame

I merged the dataframes based on the institution name on a left merge because the college demographics dataframe seems more comprehensive, and it will remove colleges that aren't primarily undergraduate insitutions.

In [7]:
#merged data sets together on institution name on left merge so it drops all non-four-year universitites that aren't focused on bachelor's degrees
df_merged = df_colleges.merge(df_testing, on = "Name", how = "left")
df_merged

,Name,Primarily Undergraduate,Public: Net Cost,Private: Net Cost,In State Tuition,Out of State Tution,Completion Rate,Admission Rate,City,State,...,id,Latitude,Longitude,Net Cost,Percent of freshmen submitting SAT scores,Percent of freshmen submitting ACT scores,SAT Critical Reading 75th percentile score,SAT Math 75th percentile score,SAT Writing 75th percentile score,ACT Composite 75th percentile score
0,Alabama A & M University,3,17694.0,0.0,10024.0,18634.0,0.2866,0.8965,Normal,AL,...,100654,34.783368,-86.568502,17694.0,15.0,88.0,450.0,450.0,NaN,19.0
1,University of Alabama at Birmingham,3,17857.0,0.0,8568.0,20400.0,0.6117,0.8060,Birmingham,AL,...,100663,33.505697,-86.799345,17857.0,6.0,93.0,640.0,650.0,NaN,28.0
2,University of Alabama in Huntsville,3,17054.0,0.0,11338.0,23734.0,0.5714,0.7711,Huntsville,AL,...,100706,34.724557,-86.640449,17054.0,34.0,94.0,640.0,650.0,NaN,29.0
3,Alabama State University,3,19853.0,0.0,11068.0,19396.0,0.3177,0.9888,Montgomery,AL,...,100724,32.364317,-86.295677,19853.0,18.0,87.0,480.0,480.0,NaN,19.0
4,The University of Alabama,3,21649.0,0.0,11620.0,31090.0,0.7214,0.8039,Tuscaloosa,AL,...,100751,33.211875,-87.545978,21649.0,23.0,76.0,620.0,640.0,600.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2047,Arizona College of Nursing-Phoenix,3,0.0,0.0,20170.0,20170.0,NaN,0.9091,Phoenix,AZ,...,495457,33.635804,-112.117327,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2048,The Pennsylvania State University,3,26010.0,0.0,18450.0,35514.0,0.7281,0.7827,University Park,PA,...,495767,40.796500,-77.862848,26010.0,NaN,NaN,NaN,NaN,NaN,NaN
2049,Pathways College,3,0.0,0.0,6223.0,6223.0,NaN,1.0000,Pasadena,CA,...,495916,34.152285,-118.078697,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2050,Provo College-Idaho Falls Campus,3,0.0,0.0,15219.0,15219.0,NaN,NaN,Idaho Falls,ID,...,496283,43.481000,-112.002280,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2051,Eagle Gate College-Boise Campus,3,0.0,0.0,13260.0,13260.0,NaN,NaN,Boise,ID,...,496326,43.590910,-116.298572,0.0,NaN,NaN,NaN,NaN,NaN,NaN

I saved the indexes of schools that don't report admission rates before dropping them to create a model, so I can use one as a testing example later.

In [8]:
#saving indexes of schools that don't report admission rates before dropping them to create model
np.where(df_merged["Admission Rate"].isnull())[0]

array([   5,    9,   16,   25,   28,   30,   38,   42,   50,   57,   60,
         61,   64,   66,   93,   95,  103,  107,  111,  112,  116,  117,
        118,  120,  123,  126,  131,  135,  137,  145,  164,  165,  174,
        178,  184,  187,  195,  201,  205,  219,  222,  227,  236,  250,
        251,  252,  255,  268,  274,  277,  281,  288,  289,  327,  333,
        334,  340,  347,  354,  365,  367,  370,  377,  389,  390,  392,
        402,  412,  438,  449,  450,  473,  476,  488,  501,  508,  517,
        518,  527,  533,  545,  554,  560,  571,  574,  582,  594,  595,
        624,  629,  644,  656,  658,  659,  668,  704,  726,  729,  782,
        784,  785,  789,  790,  797,  798,  800,  801,  809,  818,  819,
        820,  837,  842,  846,  849,  858,  861,  867,  884,  886,  914,
        919,  923,  924,  925,  931,  933,  934,  947,  949,  974, 1005,
       1047, 1048, 1050, 1056, 1060, 1071, 1073, 1094, 1140, 1152, 1161,
       1174, 1175, 1186, 1193, 1197, 1198, 1212, 1213, 1217, 1221, 1222,
       1228, 1231, 1241, 1243, 1257, 1276, 1291, 1324, 1375, 1381, 1397,
       1398, 1408, 1416, 1423, 1429, 1436, 1440, 1455, 1462, 1464, 1465,
       1477, 1488, 1496, 1517, 1518, 1527, 1536, 1537, 1540, 1543, 1544,
       1547, 1583, 1589, 1593, 1595, 1607, 1612, 1613, 1620, 1635, 1651,
       1683, 1684, 1685, 1687, 1689, 1691, 1692, 1695, 1696, 1698, 1717,
       1720, 1722, 1724, 1728, 1731, 1732, 1733, 1734, 1736, 1737, 1742,
       1743, 1744, 1747, 1749, 1750, 1754, 1755, 1757, 1760, 1762, 1763,
       1765, 1767, 1768, 1770, 1772, 1775, 1776, 1778, 1779, 1780, 1781,
       1782, 1784, 1785, 1786, 1790, 1791, 1792, 1793, 1794, 1795, 1796,
       1800, 1801, 1804, 1808, 1809, 1810, 1811, 1812, 1814, 1815, 1817,
       1818, 1819, 1820, 1821, 1822, 1824, 1825, 1826, 1829, 1832, 1836,
       1837, 1838, 1839, 1840, 1843, 1844, 1845, 1846, 1848, 1849, 1850,
       1852, 1853, 1854, 1858, 1860, 1861, 1866, 1867, 1868, 1869, 1873,
       1874, 1875, 1878, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887,
       1888, 1889, 1890, 1891, 1892, 1894, 1895, 1898, 1900, 1901, 1905,
       1907, 1913, 1914, 1916, 1917, 1924, 1926, 1927, 1928, 1935, 1941,
       1951, 1960, 1965, 1966, 1968, 1969, 1970, 1971, 1972, 1973, 1974,
       1976, 1977, 1979, 1980, 1984, 1986, 1995, 1996, 1999, 2001, 2004,
       2005, 2006, 2010, 2012, 2013, 2014, 2016, 2018, 2022, 2028, 2029,
       2031, 2032, 2033, 2035, 2036, 2039, 2041, 2043, 2050, 2051])

In [9]:
df_complete = df_merged.copy()
df_complete.iloc[9]

Name                                                                South University-Montgomery
Primarily Undergraduate                                                                       3
Public: Net Cost                                                                            0.0
Private: Net Cost                                                                       26407.0
In State Tuition                                                                        17014.0
Out of State Tution                                                                     17014.0
Completion Rate                                                                          0.1429
Admission Rate                                                                              NaN
City                                                                                 Montgomery
State                                                                                        AL
ZIP Code                                                                                  36116
Accreditor                                    Southern Association of Colleges and Schools C...
State FIPS                                                                                    1
id                                                                                       101116
Latitude                                                                              32.342684
Longitude                                                                            -86.216488
Net Cost                                                                                26407.0
Percent of freshmen submitting SAT scores                                                   NaN
Percent of freshmen submitting ACT scores                                                   NaN
SAT Critical Reading 75th percentile score                                                  NaN
SAT Math 75th percentile score                                                              NaN
SAT Writing 75th percentile score                                                           NaN
ACT Composite 75th percentile score                                                         NaN
Name: 9, dtype: object

I dropped all schools that don't report admission rate because won't be helpful for creating ML prediction

In [10]:
df_merged = df_merged[df_merged["Admission Rate"].notna()]
df_merged

,Name,Primarily Undergraduate,Public: Net Cost,Private: Net Cost,In State Tuition,Out of State Tution,Completion Rate,Admission Rate,City,State,...,id,Latitude,Longitude,Net Cost,Percent of freshmen submitting SAT scores,Percent of freshmen submitting ACT scores,SAT Critical Reading 75th percentile score,SAT Math 75th percentile score,SAT Writing 75th percentile score,ACT Composite 75th percentile score
0,Alabama A & M University,3,17694.0,0.0,10024.0,18634.0,0.2866,0.8965,Normal,AL,...,100654,34.783368,-86.568502,17694.0,15.0,88.0,450.0,450.0,NaN,19.0
1,University of Alabama at Birmingham,3,17857.0,0.0,8568.0,20400.0,0.6117,0.8060,Birmingham,AL,...,100663,33.505697,-86.799345,17857.0,6.0,93.0,640.0,650.0,NaN,28.0
2,University of Alabama in Huntsville,3,17054.0,0.0,11338.0,23734.0,0.5714,0.7711,Huntsville,AL,...,100706,34.724557,-86.640449,17054.0,34.0,94.0,640.0,650.0,NaN,29.0
3,Alabama State University,3,19853.0,0.0,11068.0,19396.0,0.3177,0.9888,Montgomery,AL,...,100724,32.364317,-86.295677,19853.0,18.0,87.0,480.0,480.0,NaN,19.0
4,The University of Alabama,3,21649.0,0.0,11620.0,31090.0,0.7214,0.8039,Tuscaloosa,AL,...,100751,33.211875,-87.545978,21649.0,23.0,76.0,620.0,640.0,600.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,Arizona College of Nursing-Fort Lauderdale,3,0.0,0.0,20090.0,20090.0,NaN,1.0000,Fort Lauderdale,FL,...,495439,26.205783,-80.138479,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2046,Arizona College of Nursing-Tucson,3,0.0,0.0,20170.0,20170.0,NaN,1.0000,Tucson,AZ,...,495448,32.217803,-110.875881,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2047,Arizona College of Nursing-Phoenix,3,0.0,0.0,20170.0,20170.0,NaN,0.9091,Phoenix,AZ,...,495457,33.635804,-112.117327,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2048,The Pennsylvania State University,3,26010.0,0.0,18450.0,35514.0,0.7281,0.7827,University Park,PA,...,495767,40.796500,-77.862848,26010.0,NaN,NaN,NaN,NaN,NaN,NaN
2049,Pathways College,3,0.0,0.0,6223.0,6223.0,NaN,1.0000,Pasadena,CA,...,495916,34.152285,-118.078697,0.0,NaN,NaN,NaN,NaN,NaN,NaN

## Webscraping Flagship Colleges from Website for Flagship College Dot Plot Map

I used beautiful soup to scrape a table containing the name, location, and population of every flagship college in the United States.

In [11]:
import requests
response = requests.get("https://www.collegetuitioncompare.com/compare/flagship-universities/")

In [12]:
from bs4 import BeautifulSoup
soup = BeautifulSoup(response.text, "html.parser")

In [13]:
table = soup.find_all("table")[0]
table_body = table.find("tbody")

In [14]:
school_name = []
school_location = []
school_population = []

for row in table_body.find_all("tr")[1:]:
  school_name.append(row.find("th").find("a").string)
  entries = row.find_all("td")
  school_location.append(entries[0].string)
  school_population.append(entries[5].string)

In [15]:
df_flagship = pd.DataFrame({
    "Name": school_name,
    "Location": school_location,
    "Population": school_population
})
df_flagship

,Name,Location,Population
0,The University of Alabama,"Tuscaloosa, AL","38,316"
1,University of Arkansas,"Fayetteville, AR","29,068"
2,University of Arizona,"Tucson, AZ","48,274"
3,University of California-Berkeley,"Berkeley, CA","45,036"
4,University of Colorado Boulder,"Boulder, CO","39,000"
5,University of Connecticut,"Storrs, CT","26,876"
6,University of the District of Columbia,"Washington, DC","3,476"
7,University of Delaware,"Newark, DE","23,996"
8,University of Florida,"Gainesville, FL","55,781"
9,University of Georgia,"Athens, GA","40,118"
10,University of Hawaii at Manoa,"Honolulu, HI","19,098"
11,University of Iowa,"Iowa City, IA","29,909"
12,University of Idaho,"Moscow, ID","11,303"
13,University of Illinois Urbana-Champaign,"Champaign, IL","56,607"
14,Indiana University-Bloomington,"Bloomington, IN","45,328"
15,University of Kansas,"Lawrence, KS","26,780"
16,University of Kentucky,"Lexington, KY","30,390"
17,Louisiana State University and Agricultural & ...,"Baton Rouge, LA","35,912"
18,University of Massachusetts-Amherst,"Amherst, MA","32,045"
19,University of Maryland-College Park,"College Park, MD","41,272"
20,University of Maine,"Orono, ME","12,657"
21,University of Michigan-Ann Arbor,"Ann Arbor, MI","50,278"
22,University of Minnesota-Twin Cities,"Minneapolis, MN","52,376"
23,University of Missouri-Columbia,"Columbia, MO","31,401"
24,University of Mississippi,"University, MS","21,203"
25,The University of Montana,"Missoula, MT","10,106"
26,University of North Carolina at Chapel Hill,"Chapel Hill, NC","31,641"
27,University of North Dakota,"Grand Forks, ND","13,772"
28,University of Nebraska-Lincoln,"Lincoln, NE","24,431"
29,University of New Hampshire-Main Campus,"Durham, NH","14,001"
30,Rutgers University-New Brunswick,"New Brunswick, NJ","50,804"
31,University of New Mexico-Main Campus,"Albuquerque, NM","22,139"
32,University of Nevada-Reno,"Reno, NV","21,034"
33,University at Buffalo,"Buffalo, NY","32,332"
34,Ohio State University-Main Campus,"Columbus, OH","61,677"
35,University of Oklahoma-Norman Campus,"Norman, OK","28,042"
36,University of Oregon,"Eugene, OR","22,257"
37,The Pennsylvania State University,"University Park, PA","88,914"
38,University of Rhode Island,"Kingston, RI","17,511"
39,University of South Carolina-Columbia,"Columbia, SC","35,471"
40,University of South Dakota,"Vermillion, SD","9,464"
41,The University of Tennessee-Knoxville,"Knoxville, TN","31,701"
42,The University of Texas at Austin,"Austin, TX","51,991"
43,University of Utah,"Salt Lake City, UT","34,464"
44,University of Virginia-Main Campus,"Charlottesville, VA","26,005"
45,University of Vermont,"Burlington, VT","13,826"
46,University of Washington-Seattle Campus,"Seattle, WA","52,434"
47,University of Wisconsin-Madison,"Madison, WI","47,016"
48,West Virginia University,"Morgantown, WV","25,474"
49,University of Wyoming,"Laramie, WY","11,479"

I merged this dataframe with the original comprehensive dataframe that contained each instition's demographics and testing statistics on a right merge, so it only includes flagship colleges.

In [16]:
df_flagship_combined = df_merged.merge(df_flagship, on = "Name", how = "right")
df_flagship_combined

,Name,Primarily Undergraduate,Public: Net Cost,Private: Net Cost,In State Tuition,Out of State Tution,Completion Rate,Admission Rate,City,State,...,Longitude,Net Cost,Percent of freshmen submitting SAT scores,Percent of freshmen submitting ACT scores,SAT Critical Reading 75th percentile score,SAT Math 75th percentile score,SAT Writing 75th percentile score,ACT Composite 75th percentile score,Location,Population
0,The University of Alabama,3.0,21649.0,0.0,11620.0,31090.0,0.7214,0.8039,Tuscaloosa,AL,...,-87.545978,21649.0,23.0,76.0,620.0,640.0,600.0,30.0,"Tuscaloosa, AL","38,316"
1,University of Arkansas,3.0,16256.0,0.0,9384.0,25872.0,0.6850,0.7767,Fayetteville,AR,...,-94.176981,16256.0,27.0,91.0,600.0,630.0,NaN,28.0,"Fayetteville, AR","29,068"
2,University of Arizona,3.0,13644.0,0.0,12716.0,36743.0,0.6489,0.8513,Tucson,AZ,...,-110.950815,13644.0,66.0,52.0,600.0,630.0,590.0,27.0,"Tucson, AZ","48,274"
3,University of California-Berkeley,3.0,13423.0,0.0,14312.0,44066.0,0.9234,0.1748,Berkeley,CA,...,-122.260463,13423.0,91.0,40.0,720.0,770.0,750.0,33.0,"Berkeley, CA","45,036"
4,University of Colorado Boulder,3.0,18204.0,0.0,12466.0,38284.0,0.7247,0.8420,Boulder,CO,...,-105.270823,18204.0,45.0,75.0,630.0,650.0,NaN,29.0,"Boulder, CO","39,000"
5,University of Connecticut,3.0,20344.0,0.0,17834.0,40502.0,0.8303,0.5609,Storrs,CT,...,-72.249948,20344.0,91.0,27.0,650.0,680.0,NaN,30.0,"Storrs, CT","26,876"
6,University of the District of Columbia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Washington, DC","3,476"
7,University of Delaware,3.0,17260.0,0.0,14660.0,36090.0,0.8249,0.6599,Newark,DE,...,-75.752822,17260.0,99.0,27.0,630.0,650.0,630.0,29.0,"Newark, DE","23,996"
8,University of Florida,3.0,8394.0,0.0,6381.0,28659.0,0.8864,0.3113,Gainesville,FL,...,-82.347911,8394.0,63.0,37.0,670.0,690.0,680.0,31.0,"Gainesville, FL","55,781"
9,University of Georgia,3.0,15037.0,0.0,12080.0,31120.0,0.8718,0.4838,Athens,GA,...,-83.374039,15037.0,86.0,60.0,660.0,670.0,670.0,30.0,"Athens, GA","40,118"
10,University of Hawaii at Manoa,3.0,15183.0,0.0,12186.0,34218.0,0.6180,0.8369,Honolulu,HI,...,-157.818979,15183.0,77.0,11.0,580.0,610.0,570.0,27.0,"Honolulu, HI","19,098"
11,University of Iowa,3.0,18026.0,0.0,9606.0,31569.0,0.7219,0.8428,Iowa City,IA,...,-91.536425,18026.0,10.0,86.0,620.0,680.0,NaN,28.0,"Iowa City, IA","29,909"
12,University of Idaho,3.0,13998.0,0.0,8304.0,27540.0,0.5947,0.7444,Moscow,ID,...,-117.014167,13998.0,51.0,71.0,590.0,590.0,570.0,26.0,"Moscow, ID","11,303"
13,University of Illinois Urbana-Champaign,3.0,11505.0,0.0,15150.0,32600.0,0.8620,0.6330,Champaign,IL,...,-88.229114,11505.0,NaN,NaN,NaN,NaN,NaN,NaN,"Champaign, IL","56,607"
14,Indiana University-Bloomington,3.0,12369.0,0.0,11221.0,37600.0,0.7979,0.8038,Bloomington,IN,...,-86.526559,12369.0,72.0,64.0,630.0,660.0,620.0,30.0,"Bloomington, IN","45,328"
15,University of Kansas,3.0,18586.0,0.0,11166.0,28034.0,0.6311,0.9093,Lawrence,KS,...,-95.247567,18586.0,0.0,98.0,NaN,NaN,NaN,28.0,"Lawrence, KS","26,780"
16,University of Kentucky,3.0,16708.0,0.0,12484.0,31294.0,0.6636,0.9636,Lexington,KY,...,-84.504747,16708.0,18.0,92.0,610.0,630.0,NaN,28.0,"Lexington, KY","30,390"
17,Louisiana State University and Agricultural & ...,3.0,19623.0,0.0,11962.0,28639.0,0.6956,0.7338,Baton Rouge,LA,...,-91.178921,19623.0,11.0,89.0,620.0,630.0,NaN,28.0,"Baton Rouge, LA","35,912"
18,University of Massachusetts-Amherst,3.0,16667.0,0.0,16439.0,36427.0,0.8329,0.6532,Amherst,MA,...,-72.526728,16667.0,92.0,20.0,640.0,670.0,NaN,29.0,"Amherst, MA","32,045"
19,University of Maryland-College Park,3.0,17360.0,0.0,10779.0,36891.0,0.8702,0.5096,College Park,MD,...,-76.944721,17360.0,91.0,0.0,690.0,730.0,NaN,NaN,"College Park, MD","41,272"
20,University of Maine,3.0,14886.0,0.0,11744.0,32534.0,0.5646,0.9221,Orono,ME,...,-68.669332,14886.0,94.0,10.0,590.0,610.0,580.0,26.0,"Orono, ME","12,657"
21,University of Michigan-Ann Arbor,3.0,10481.0,0.0,15948.0,52266.0,0.9344,0.2611,Ann Arbor,MI,...,-83.742769,10481.0,34.0,83.0,720.0,760.0,730.0,32.0,"Ann Arbor, MI","50,278"
22,University of Minnesota-Twin Cities,3.0,12911.0,0.0,15027.0,33325.0,0.8426,0.6964,Minneapolis,MN,...,-93.235464,12911.0,14.0,92.0,690.0,740.0,670.0,30.0,"Minneapolis, MN","52,376"
23,University of Missouri-Columbia,3.0,13715.0,0.0,10723.0,29005.0,0.7298,0.8178,Columbia,MO,...,-92.328843,13715.0,8.0,94.0,640.0,650.0,NaN,28.0,"Columbia, MO","31,401"
24,University of Mississippi,3.0,15351.0,0.0,8828.0,25100.0,0.6668,0.8802,University,MS,...,-89.537434,15351.0,30.0,86.0,590.0,600.0,NaN,27.0,"University, MS","21,203"
25,The University of Montana,3.0,15281.0,0.0,7430.0,27256.0,0.4421,0.9578,Missoula,MT,...,-113.982912,15281.0,47.0,68.0,620.0,590.0,590.0,26.0,"Missoula, MT","10,106"
26,University of North Carolina at Chapel Hill,3.0,11619.0,0.0,8980.0,36159.0,0.9074,0.2500,Chapel Hill,NC,...,-79.050969,11619.0,78.0,24.0,700.0,710.0,690.0,32.0,"Chapel Hill, NC","31,641"
27,University of North Dakota,3.0,15818.0,0.0,10276.0,14546.0,0.6111,0.8675,Grand Forks,ND,...,-97.071738,15818.0,7.0,94.0,590.0,610.0,550.0,26.0,"Grand Forks, ND","13,772"
28,University of Nebraska-Lincoln,3.0,15394.0,0.0,9690.0,26820.0,0.6597,0.7774,Lincoln,NE,...,-96.700508,15394.0,7.0,93.0,660.0,670.0,NaN,28.0,"Lincoln, NE","24,431"
29,University of New Hampshire-Main Campus,3.0,20896.0,0.0,18938.0,36278.0,0.7646,0.8481,Durham,NH,...,-70.932465,20896.0,96.0,18.0,590.0,610.0,NaN,NaN,"Durham, NH","14,001"
30,Rutgers University-New Brunswick,3.0,20927.0,0.0,15003.0,31785.0,0.8445,0.6693,New Brunswick,NJ,...,-74.446251,20927.0,95.0,0.0,640.0,690.0,650.0,NaN,"New Brunswick, NJ","50,804"
31,University of New Mexico-Main Campus,3.0,16644.0,0.0,8161.0,24499.0,0.5390,0.9634,Albuquerque,NM,...,-106.620155,16644.0,19.0,90.0,610.0,600.0,NaN,25.0,"Albuquerque, NM","22,139"
32,University of Nevada-Reno,3.0,15106.0,0.0,8366.0,24020.0,0.6040,0.8730,Reno,NV,...,-119.815377,15106.0,82.0,56.0,590.0,600.0,560.0,26.0,"Reno, NV","21,034"
33,University at Buffalo,3.0,20841.0,0.0,10526.0,28196.0,0.7511,0.6695,Buffalo,NY,...,-78.789458,20841.0,72.0,32.0,600.0,660.0,NaN,28.0,"Buffalo, NY","32,332"
34,Ohio State University-Main Campus,3.0,13273.0,0.0,11518.0,33502.0,0.8703,0.6849,Columbus,OH,...,-83.014853,13273.0,39.0,83.0,660.0,720.0,660.0,31.0,"Columbus, OH","61,677"
35,University of Oklahoma-Norman Campus,3.0,21725.0,0.0,11688.0,27069.0,0.7209,0.8338,Norman,OK,...,-97.444211,21725.0,35.0,86.0,630.0,650.0,NaN,29.0,"Norman, OK","28,042"
36,University of Oregon,3.0,16014.0,0.0,13857.0,39309.0,0.7389,0.8381,Eugene,OR,...,-123.075792,16014.0,75.0,16.0,600.0,620.0,NaN,27.0,"Eugene, OR","22,257"
37,The Pennsylvania State University,3.0,26010.0,0.0,18450.0,35514.0,0.7281,0.7827,University Park,PA,...,-77.862848,26010.0,NaN,NaN,NaN,NaN,NaN,NaN,"University Park, PA","88,914"
38,University of Rhode Island,3.0,18131.0,0.0,15004.0,32578.0,0.7061,0.7551,Kingston,RI,...,-71.527356,18131.0,92.0,17.0,580.0,590.0,580.0,26.0,"Kingston, RI","17,511"
39,University of South Carolina-Columbia,3.0,20325.0,0.0,12688.0,33928.0,0.7801,0.6835,Columbia,SC,...,-81.026935,20325.0,63.0,61.0,640.0,650.0,NaN,29.0,"Columbia, SC","35,471"
40,University of South Dakota,3.0,19548.0,0.0,9332.0,12807.0,0.5998,0.9095,Vermillion,SD,...,-96.925283,19548.0,5.0,96.0,NaN,620.0,580.0,26.0,"Vermillion, SD","9,464"
41,The University of Tennessee-Knoxville,3.0,22476.0,0.0,13264.0,31664.0,0.7112,0.7815,Knoxville,TN,...,-83.925852,22476.0,18.0,94.0,640.0,650.0,NaN,29.0,"Knoxville, TN","31,701"
42,The University of Texas at Austin,3.0,16134.0,0.0,11448.0,40032.0,0.8756,0.3195,Austin,TX,...,-97.738273,16134.0,83.0,55.0,670.0,710.0,680.0,31.0,"Austin, TX","51,991"
43,University of Utah,3.0,13842.0,0.0,8615.0,27220.0,0.6710,0.7940,Salt Lake City,UT,...,-111.846044,13842.0,19.0,85.0,620.0,648.0,610.0,27.0,"Salt Lake City, UT","34,464"
44,University of Virginia-Main Campus,3.0,16019.0,0.0,18960.0,52843.0,0.9401,0.2258,Charlottesville,VA,...,-78.503428,16019.0,89.0,37.0,720.0,740.0,720.0,33.0,"Charlottesville, VA","26,005"
45,University of Vermont,3.0,17585.0,0.0,19062.0,43950.0,0.7591,0.7132,Burlington,VT,...,-73.196646,17585.0,87.0,30.0,640.0,650.0,650.0,29.0,"Burlington, VT","13,826"
46,University of Washington-Seattle Campus,3.0,8393.0,0.0,11745.0,39114.0,0.8200,0.5586,Seattle,WA,...,-122.305140,8393.0,86.0,31.0,650.0,710.0,640.0,30.0,"Seattle, WA","52,434"
47,University of Wisconsin-Madison,3.0,10364.0,0.0,10742.0,38630.0,0.8835,0.5725,Madison,WI,...,-89.404098,10364.0,22.0,85.0,650.0,750.0,670.0,30.0,"Madison, WI","47,016"
48,West Virginia University,3.0,13077.0,0.0,8976.0,25320.0,0.6183,0.8389,Morgantown,WV,...,-79.954391,13077.0,60.0,58.0,560.0,580.0,NaN,26.0,"Morgantown, WV","25,474"
49,University of Wyoming,3.0,9394.0,0.0,5791.0,19531.0,0.5916,0.9423,Laramie,WY,...,-105.579310,9394.0,16.0,89.0,610.0,630.0,NaN,27.0,"Laramie, WY","11,479"