<a href="https://colab.research.google.com/github/minamky/datasci112-college-acceptance-rate-predictor/blob/main/Data_Collection_and_Cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Data Collection and Cleaning

In [ ]:
import pandas as pd
import numpy as np
import requests
import time

## Data Collection #1: College ScoreCard API

We collected data from the College ScoreCard API from  collegescorecard.ed.gov, which contains the  of every accredited institution in the United States up until 2020-21 including institutional characteristics, enrollment, student aid, costs, and student outcomes. Currently, there is a trend where more schools are withholding reporting acceptance rates, making it difficult for students to predict the likelihood of their acceptance.

I used the API to collect data from schools that are predominately undergraduate institutions and  features that could affect their respective acceptance rate. Then, I compile all the data into a dataframe.

In [ ]:
url = "http://api.data.gov/ed/collegescorecard/"
endpoint = "/v1/schools.json?"
key = "&api_key=E6N4LAbk4nqo98cet3IViOYcZz8KUxYQn2pXsNdO"

#only include schools that are predominately undergraduate 
params = "school.degrees_awarded.predominant=3"
#school, root, and location are static so don't need year

fields = [
    "id",
    "school.name",
    "school.city",
    "school.state",
    "school.zip",
    "school.accreditor",
    "school.state_fips",
    "location.lat",
    "location.lon",
    "latest.school.degrees_awarded.predominant",
    "latest.cost.net_price.public.by_income_level.48001-75000",
    "latest.cost.net_price.private.by_income_level.48001-75000",
    "latest.cost.tuition.in_state",
    "latest.cost.tuition.out_of_state",
    "latest.completion.completion_rate_4yr_150nt",
    "latest.admissions.admission_rate.overall"
]

Because there are over 2500 colleges and there is a max of 100 colleges per page, I will loop through every page and append every college on each page to a list. Then, I will create a dataframe with the colleges in the list.

In [ ]:
#loop through all pages and append to list to aggregate all rows into one dataframe
results = []
for i in range (26):
  options = "&per_page=100&page=" + str(i)
  results.extend(requests.get(url + endpoint + params +"&fields=" + ",".join(fields) + options + key).json()["results"])
  time.sleep(0.5)

df_colleges = pd.json_normalize(results)

## Data Cleaning #1: College Demographics DataFrame

I renamed the columns, so they were easier to read and were not as crowded. The API also seperated the net cost for public and private institutions, so I collapsed these two columns into one, so I could use the net cost in machine learning model later. Lastly, I set the index to the Name of each institution, so it is easier to identify.

In [ ]:
df_colleges.rename(columns={'latest.school.degrees_awarded.predominant': 'Primarily Undergraduate', 
                            'latest.cost.net_price.public.by_income_level.48001-75000': 'Public: Net Cost',
                            'latest.cost.net_price.private.by_income_level.48001-75000': 'Private: Net Cost',
                            'school.name': 'Name',
                            'school.city': 'City',
                            'school.state': 'State',
                            'school.zip': 'ZIP Code',
                            'school.accreditor': 'Accreditor',
                            'school.state_fips': 'State FIPS',
                            'location.lat': 'Latitude',
                            'location.lon': 'Longitude',
                            'latest.admissions.admission_rate.overall': 'Admission Rate',
                            "latest.cost.tuition.in_state": "In State Tuition",
                            "latest.cost.tuition.out_of_state": "Out of State Tution",
                            "latest.completion.completion_rate_4yr_150nt": "Completion Rate",
                            }, inplace=True)

#public and private net cost are seperated in response, so I will combine these columns by adding them
df_colleges["Public: Net Cost"] = df_colleges["Public: Net Cost"].fillna(0)
df_colleges["Private: Net Cost"] = df_colleges["Private: Net Cost"].fillna(0)
df_colleges["Net Cost"] = df_colleges["Public: Net Cost"] + df_colleges["Private: Net Cost"]
df_colleges = df_colleges.set_index("Name")
df_colleges

,Primarily Undergraduate,Public: Net Cost,Private: Net Cost,In State Tuition,Out of State Tution,Completion Rate,Admission Rate,City,State,ZIP Code,Accreditor,State FIPS,id,Latitude,Longitude,Net Cost
Name,,,,,,,,,,,,,,,,
Alabama A & M University,3,17694.0,0.0,10024.0,18634.0,0.2866,0.8965,Normal,AL,35762,Southern Association of Colleges and Schools C...,1,100654,34.783368,-86.568502,17694.0
University of Alabama at Birmingham,3,17857.0,0.0,8568.0,20400.0,0.6117,0.8060,Birmingham,AL,35294-0110,Southern Association of Colleges and Schools C...,1,100663,33.505697,-86.799345,17857.0
University of Alabama in Huntsville,3,17054.0,0.0,11338.0,23734.0,0.5714,0.7711,Huntsville,AL,35899,Southern Association of Colleges and Schools C...,1,100706,34.724557,-86.640449,17054.0
Alabama State University,3,19853.0,0.0,11068.0,19396.0,0.3177,0.9888,Montgomery,AL,36104-0271,Southern Association of Colleges and Schools C...,1,100724,32.364317,-86.295677,19853.0
The University of Alabama,3,21649.0,0.0,11620.0,31090.0,0.7214,0.8039,Tuscaloosa,AL,35487-0100,Southern Association of Colleges and Schools C...,1,100751,33.211875,-87.545978,21649.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Arizona College of Nursing-Phoenix,3,0.0,0.0,20170.0,20170.0,NaN,0.9091,Phoenix,AZ,85053-4058,Accrediting Bureau of Health Education Schools,4,495457,33.635804,-112.117327,0.0
The Pennsylvania State University,3,26010.0,0.0,18450.0,35514.0,0.7281,0.7827,University Park,PA,16802-1503,Middle States Commission on Higher Education,42,495767,40.796500,-77.862848,26010.0
Pathways College,3,0.0,0.0,6223.0,6223.0,NaN,1.0000,Pasadena,CA,91107,None,6,495916,34.152285,-118.078697,0.0
Provo College-Idaho Falls Campus,3,0.0,0.0,15219.0,15219.0,NaN,NaN,Idaho Falls,ID,83404-3538,Accrediting Bureau of Health Education Schools,16,496283,43.481000,-112.002280,0.0
Eagle Gate College-Boise Campus,3,0.0,0.0,13260.0,13260.0,NaN,NaN,Boise,ID,83709-2505,Accrediting Bureau of Health Education Schools,16,496326,43.590910,-116.298572,0.0

## Data Collection #2: College Testing Statistics

I found a csv file that contains the updated college testing statistics for 4-year institutions in the United States which I will merge with the college demographics dataframe.

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')
df_admissions2 = pd.read_csv("/content/gdrive/MyDrive/Data-Table 1.csv")

Mounted at /content/gdrive

## Data Cleaning #2: College Testing Statistics

The file contained many columns that were unncessary for the machine learning model, so I created a dataframe that only contained the most important columns.

In [ ]:
#creating a new dataframe focused on testing information for 4 year universities
df_testing = df_admissions2[["Name", "Percent of freshmen submitting SAT scores", "Percent of freshmen submitting ACT scores", "SAT Critical Reading 75th percentile score", "SAT Math 75th percentile score", "SAT Writing 75th percentile score", "ACT Composite 75th percentile score"]]
df_testing

,Name,Percent of freshmen submitting SAT scores,Percent of freshmen submitting ACT scores,SAT Critical Reading 75th percentile score,SAT Math 75th percentile score,SAT Writing 75th percentile score,ACT Composite 75th percentile score
0,Alabama A & M University,15.0,88.0,450.0,450.0,NaN,19.0
1,University of Alabama at Birmingham,6.0,93.0,640.0,650.0,NaN,28.0
2,Amridge University,NaN,NaN,NaN,NaN,NaN,NaN
3,University of Alabama in Huntsville,34.0,94.0,640.0,650.0,NaN,29.0
4,Alabama State University,18.0,87.0,480.0,480.0,NaN,19.0
...,...,...,...,...,...,...,...
1529,University of South Florida-Sarasota-Manatee,79.0,59.0,580.0,570.0,570.0,25.0
1530,The Kingâ€™s College,57.0,45.0,630.0,600.0,640.0,28.0
1531,Ottawa University-Online,NaN,NaN,NaN,NaN,NaN,NaN
1532,Providence Christian College,NaN,NaN,NaN,NaN,NaN,NaN
1533,Polytechnic University of Puerto Rico-Orlando,NaN,NaN,NaN,NaN,NaN,NaN

## Merging College Demographics DataFrame with College Testing Statistics DataFrame

I merged the dataframes based on the institution name on a left merge because the college demographics dataframe seems more comprehensive, and it will remove colleges that aren't primarily undergraduate insitutions.

In [ ]:
#merged data sets together on institution name on left merge so it drops all non-four-year universitites that aren't focused on bachelor's degrees
df_merged = df_colleges.merge(df_testing, on = "Name", how = "left")
df_merged

,Name,Primarily Undergraduate,Public: Net Cost,Private: Net Cost,In State Tuition,Out of State Tution,Completion Rate,Admission Rate,City,State,...,id,Latitude,Longitude,Net Cost,Percent of freshmen submitting SAT scores,Percent of freshmen submitting ACT scores,SAT Critical Reading 75th percentile score,SAT Math 75th percentile score,SAT Writing 75th percentile score,ACT Composite 75th percentile score
0,Alabama A & M University,3,17694.0,0.0,10024.0,18634.0,0.2866,0.8965,Normal,AL,...,100654,34.783368,-86.568502,17694.0,15.0,88.0,450.0,450.0,NaN,19.0
1,University of Alabama at Birmingham,3,17857.0,0.0,8568.0,20400.0,0.6117,0.8060,Birmingham,AL,...,100663,33.505697,-86.799345,17857.0,6.0,93.0,640.0,650.0,NaN,28.0
2,University of Alabama in Huntsville,3,17054.0,0.0,11338.0,23734.0,0.5714,0.7711,Huntsville,AL,...,100706,34.724557,-86.640449,17054.0,34.0,94.0,640.0,650.0,NaN,29.0
3,Alabama State University,3,19853.0,0.0,11068.0,19396.0,0.3177,0.9888,Montgomery,AL,...,100724,32.364317,-86.295677,19853.0,18.0,87.0,480.0,480.0,NaN,19.0
4,The University of Alabama,3,21649.0,0.0,11620.0,31090.0,0.7214,0.8039,Tuscaloosa,AL,...,100751,33.211875,-87.545978,21649.0,23.0,76.0,620.0,640.0,600.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2047,Arizona College of Nursing-Phoenix,3,0.0,0.0,20170.0,20170.0,NaN,0.9091,Phoenix,AZ,...,495457,33.635804,-112.117327,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2048,The Pennsylvania State University,3,26010.0,0.0,18450.0,35514.0,0.7281,0.7827,University Park,PA,...,495767,40.796500,-77.862848,26010.0,NaN,NaN,NaN,NaN,NaN,NaN
2049,Pathways College,3,0.0,0.0,6223.0,6223.0,NaN,1.0000,Pasadena,CA,...,495916,34.152285,-118.078697,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2050,Provo College-Idaho Falls Campus,3,0.0,0.0,15219.0,15219.0,NaN,NaN,Idaho Falls,ID,...,496283,43.481000,-112.002280,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2051,Eagle Gate College-Boise Campus,3,0.0,0.0,13260.0,13260.0,NaN,NaN,Boise,ID,...,496326,43.590910,-116.298572,0.0,NaN,NaN,NaN,NaN,NaN,NaN

I saved the indexes of schools that don't report admission rates before dropping them to create a model, so I can use one as a testing example later.

In [ ]:
#saving indexes of schools that don't report admission rates before dropping them to create model
np.where(df_merged["Admission Rate"].isnull())[0]

array([   5,    9,   16,   25,   28,   30,   38,   42,   50,   57,   60,
         61,   64,   66,   93,   95,  103,  107,  111,  112,  116,  117,
        118,  120,  123,  126,  131,  135,  137,  145,  164,  165,  174,
        178,  184,  187,  195,  201,  205,  219,  222,  227,  236,  250,
        251,  252,  255,  268,  274,  277,  281,  288,  289,  327,  333,
        334,  340,  347,  354,  365,  367,  370,  377,  389,  390,  392,
        402,  412,  438,  449,  450,  473,  476,  488,  501,  508,  517,
        518,  527,  533,  545,  554,  560,  571,  574,  582,  594,  595,
        624,  629,  644,  656,  658,  659,  668,  704,  726,  729,  782,
        784,  785,  789,  790,  797,  798,  800,  801,  809,  818,  819,
        820,  837,  842,  846,  849,  858,  861,  867,  884,  886,  914,
        919,  923,  924,  925,  931,  933,  934,  947,  949,  974, 1005,
       1047, 1048, 1050, 1056, 1060, 1071, 1073, 1094, 1140, 1152, 1161,
       1174, 1175, 1186, 1193, 1197, 1198, 1212, 1213, 1217, 1221, 1222,
       1228, 1231, 1241, 1243, 1257, 1276, 1291, 1324, 1375, 1381, 1397,
       1398, 1408, 1416, 1423, 1429, 1436, 1440, 1455, 1462, 1464, 1465,
       1477, 1488, 1496, 1517, 1518, 1527, 1536, 1537, 1540, 1543, 1544,
       1547, 1583, 1589, 1593, 1595, 1607, 1612, 1613, 1620, 1635, 1651,
       1683, 1684, 1685, 1687, 1689, 1691, 1692, 1695, 1696, 1698, 1717,
       1720, 1722, 1724, 1728, 1731, 1732, 1733, 1734, 1736, 1737, 1742,
       1743, 1744, 1747, 1749, 1750, 1754, 1755, 1757, 1760, 1762, 1763,
       1765, 1767, 1768, 1770, 1772, 1775, 1776, 1778, 1779, 1780, 1781,
       1782, 1784, 1785, 1786, 1790, 1791, 1792, 1793, 1794, 1795, 1796,
       1800, 1801, 1804, 1808, 1809, 1810, 1811, 1812, 1814, 1815, 1817,
       1818, 1819, 1820, 1821, 1822, 1824, 1825, 1826, 1829, 1832, 1836,
       1837, 1838, 1839, 1840, 1843, 1844, 1845, 1846, 1848, 1849, 1850,
       1852, 1853, 1854, 1858, 1860, 1861, 1866, 1867, 1868, 1869, 1873,
       1874, 1875, 1878, 1880, 1881, 1882, 1883, 1884, 1885, 1886, 1887,
       1888, 1889, 1890, 1891, 1892, 1894, 1895, 1898, 1900, 1901, 1905,
       1907, 1913, 1914, 1916, 1917, 1924, 1926, 1927, 1928, 1935, 1941,
       1951, 1960, 1965, 1966, 1968, 1969, 1970, 1971, 1972, 1973, 1974,
       1976, 1977, 1979, 1980, 1984, 1986, 1995, 1996, 1999, 2001, 2004,
       2005, 2006, 2010, 2012, 2013, 2014, 2016, 2018, 2022, 2028, 2029,
       2031, 2032, 2033, 2035, 2036, 2039, 2041, 2043, 2050, 2051])

In [ ]:
df_complete = df_merged.copy()
df_complete.iloc[9]

Name                                                                South University-Montgomery
Primarily Undergraduate                                                                       3
Public: Net Cost                                                                            0.0
Private: Net Cost                                                                       26407.0
In State Tuition                                                                        17014.0
Out of State Tution                                                                     17014.0
Completion Rate                                                                          0.1429
Admission Rate                                                                              NaN
City                                                                                 Montgomery
State                                                                                        AL
ZIP Code                                                                                  36116
Accreditor                                    Southern Association of Colleges and Schools C...
State FIPS                                                                                    1
id                                                                                       101116
Latitude                                                                              32.342684
Longitude                                                                            -86.216488
Net Cost                                                                                26407.0
Percent of freshmen submitting SAT scores                                                   NaN
Percent of freshmen submitting ACT scores                                                   NaN
SAT Critical Reading 75th percentile score                                                  NaN
SAT Math 75th percentile score                                                              NaN
SAT Writing 75th percentile score                                                           NaN
ACT Composite 75th percentile score                                                         NaN
Name: 9, dtype: object

I dropped all schools that don't report admission rate because won't be helpful for creating ML prediction

In [ ]:
df_merged = df_merged[df_merged["Admission Rate"].notna()]
df_merged

,Name,Primarily Undergraduate,Public: Net Cost,Private: Net Cost,In State Tuition,Out of State Tution,Completion Rate,Admission Rate,City,State,...,id,Latitude,Longitude,Net Cost,Percent of freshmen submitting SAT scores,Percent of freshmen submitting ACT scores,SAT Critical Reading 75th percentile score,SAT Math 75th percentile score,SAT Writing 75th percentile score,ACT Composite 75th percentile score
0,Alabama A & M University,3,17694.0,0.0,10024.0,18634.0,0.2866,0.8965,Normal,AL,...,100654,34.783368,-86.568502,17694.0,15.0,88.0,450.0,450.0,NaN,19.0
1,University of Alabama at Birmingham,3,17857.0,0.0,8568.0,20400.0,0.6117,0.8060,Birmingham,AL,...,100663,33.505697,-86.799345,17857.0,6.0,93.0,640.0,650.0,NaN,28.0
2,University of Alabama in Huntsville,3,17054.0,0.0,11338.0,23734.0,0.5714,0.7711,Huntsville,AL,...,100706,34.724557,-86.640449,17054.0,34.0,94.0,640.0,650.0,NaN,29.0
3,Alabama State University,3,19853.0,0.0,11068.0,19396.0,0.3177,0.9888,Montgomery,AL,...,100724,32.364317,-86.295677,19853.0,18.0,87.0,480.0,480.0,NaN,19.0
4,The University of Alabama,3,21649.0,0.0,11620.0,31090.0,0.7214,0.8039,Tuscaloosa,AL,...,100751,33.211875,-87.545978,21649.0,23.0,76.0,620.0,640.0,600.0,30.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2045,Arizona College of Nursing-Fort Lauderdale,3,0.0,0.0,20090.0,20090.0,NaN,1.0000,Fort Lauderdale,FL,...,495439,26.205783,-80.138479,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2046,Arizona College of Nursing-Tucson,3,0.0,0.0,20170.0,20170.0,NaN,1.0000,Tucson,AZ,...,495448,32.217803,-110.875881,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2047,Arizona College of Nursing-Phoenix,3,0.0,0.0,20170.0,20170.0,NaN,0.9091,Phoenix,AZ,...,495457,33.635804,-112.117327,0.0,NaN,NaN,NaN,NaN,NaN,NaN
2048,The Pennsylvania State University,3,26010.0,0.0,18450.0,35514.0,0.7281,0.7827,University Park,PA,...,495767,40.796500,-77.862848,26010.0,NaN,NaN,NaN,NaN,NaN,NaN
2049,Pathways College,3,0.0,0.0,6223.0,6223.0,NaN,1.0000,Pasadena,CA,...,495916,34.152285,-118.078697,0.0,NaN,NaN,NaN,NaN,NaN,NaN